*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.conainer{
    height: 100vh;
    width: 100%;
    background-image: url("../images/image.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

}
.navbar{
    width: 88%;
    margin: auto;
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo{
    width: 140px;
    cursor: pointer;

}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 15px;
}
.navbar ul li a{
    text-decoration: none;
    color: #5f5f5f;
    font-size: 15px;
    transition-duration: 0.6s;
}
.navbar ul li a:hover{
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
.content{
    width: 100%;
    position: absolute;
    top: 30%;
}
.left-coulmn{
    margin-left: 6%;
}
.left-coulmn h1{
    font-size: 70px;
    color: #fff;
    line-height: 80px;
    float: left;
}
.right-cuolmn{
    float: right;
    margin-right: 6%;
    margin-top: 110px;
    display: flex;
    align-items: center;
}
.right-cuolmn p{
    font-size: 18px;
    color: #5f5f5f;
    font-weight: 400;
    margin-right: 15px;
}
#icon{
    width: 80px;
    cursor: pointer;
}